<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title 기입 </title>
    <link rel='stylesheet'href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}

    </table>
    <input type="submit"/>

</form>
  <h1> lay out </h1>
  {% block content %}
  {% endblock %}

   <hr/>
    2017 &copy ; <a href="https://nomade.kr" target="_blank"> nomade.kr</a>


<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>